/vendor/
node_modules/
npm-debug.log
yarn-error.log

.env
.env.backup
.env.production
.env.staging
.env.testing

/storage/.key
/storage/framework/cache/data/
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/bootstrap/cache/*.php

.DS_Store
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

.terraform/
.tfstate
.tfstate.
crash.log
crash..log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

.decrypted.