includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
    ignoreErrors:
        - identifier: return.type
          path: app/Contexts/SpendManagement/Infrastructure/Models/ExpenseModel.php
